<div class="row" style="margin-top: 15px">
  <div class="col d-flex justify-content-center" style="margin-top: -15px;">
    <div class="border text-center" style="padding: 5px;" [class.border-success]="autoRefresh"
      [class.border-default]="!autoRefresh">
      <label for="autoRefresh" [class.text-success]="autoRefresh"> Atualizar automaticamente </label>
      <input [(ngModel)]="autoRefresh" id="autoRefresh" type="checkbox" />&nbsp;
    </div>
  </div>
  <div class="col-12 chart-container">
    <h3>Umidade</h3>
    <div class="row">
      <div class="col">
        <div echarts [options]="umidadeOptions" class="echart"></div>
      </div>
    </div>
  </div>
  <div class="col-12 chart-container" style="margin-top: 20px;">
    <h3>Temperatura</h3>
    <div class="row">
      <div class="col">
        <div echarts [options]="temperaturaOptions" class="echart"></div>
      </div>
    </div>
  </div>
  <div class="col-12 chart-container" style="margin-top: 20px;">
    <h3>Pressão</h3>
    <div class="row">
      <div class="col">
        <div echarts [options]="pressaoOptions" class="echart"></div>
      </div>
    </div>
  </div>
</div>
